$baseColor: #202846;
$logo-height: 70px;

@mixin makeNav($jc,$fd, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin makeFont($fs,$fw, $fsz) {
    font-family: 'PT Sans', sans-serif;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fsz;
}

@mixin centre {
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    top: 50%;
    text-align: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
        color:rgb(234, 234, 47);
    }

    &:focus{
        color:rgb(182, 182, 182);
    }
}

p {
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: $baseColor;
    @include makeNav(space-around,row,center);

    .nav {
        width: 1200px;
        height: 60px;
        @include makeNav(space-between,row,center);

        .nav-text {
            width: calc(100%/6);
            text-align: center;
            color: #fff;
            @include makeFont(none, 700, 24px);
            border-right: 2px solid white;

            &:last-child {
                border-right: none;
            }
        } 

        .lang {
            width: calc(100%/6);
            @include makeNav(center,row,center);

            .lang-img {
                width: 60px;
            }

            .dropbtn {
                width: 57px;
                height: 44px;
                background-color: $baseColor;
                border: none;
            }

            .lang-content{
                display: none;
                position: absolute;
                width: 57px;
                height: 105px;
                background-color: $baseColor;
                min-width: 30px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;

                a {
                    text-align: center;
                    display: block;
                    color: white;
                    width: 57px;
                    height: 35px;
                    @include makeFont(none, 700, 24px);

                    &:focus {
                        background-color: #39477a;
                    }
                }
            }

            .dropdown:hover {
                .lang-content {display: block;}
            }

        }
    }

    .logo-image {
        width: 179px;
        height: $logo-height;
        border-radius: calc($logo-height/2);
        background: url("https://s3-alpha-sig.figma.com/img/ca5e/0ff9/3ae21a385ab1edee756a77763a1f44b2?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cFKWEnhKCh1U-j5uQkLMXxHDe6MbX9P~1HsRcMhEvOQB8s1iCPOYGaf89Bi5WKy9cgZJ~LSumPu3jwzLmltEUg3FiBxszWWO6sh1e1cuRG3xLutnYdVc6bQoTU1HbiZlVLP64BC4La7j2p-nNxnncshrcRwQf5H72YmyZdvvnEYMLoYYa1Lt5uZBmfVp2cKgtczuXaQcLWb1wfz~ohTIeJb7mEjnrrYD6z5Y2a~RKEad3UWdmIIibYBbt0yqLVaGZyLL~TtqRPGsp~DzVDDipcaVyYnD3PXlhY3m1LZf-g47VLv~1Rxw6kCuYGeUp1wyw4yxPRfyAPP8mGAhnTjmKA__");
        background-size: cover;
        background-position: center;
    }
}

main {
    height: 2200px;
    background-color: #dcdcdc;

    .cover  {
        margin: 133px auto 53px auto;
        width: 82%;
        height: 370px;
        color: #fff;
        background: url("https://s3-alpha-sig.figma.com/img/8680/9dc1/8667d2d2478f7934d5622a0ff53c02aa?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pgaiecaGjL--~UCTSNWr2ywGPFChN4TePYRa4FzyiQjHvV2PKgkXmJtouHxUNiVClGr5Iiv4lL3Nq7yiSTu0mAoyUk~d-HbNz-oUXx78nyyyDBpj~rDuj8KufD4P2MqIseVwxNW-MzHfHA7Vo56AyfUFsvN5uW9pn2E9kyAux2~gsxQLW64w9kbuHXI-qrQ7C9qawRaKvZqHecSO2sqmPR~7l2OLt0GbDYLs-JClxLwVy9aZsN5Pp2~mm6vAetN8JtZhE4htckYRSbk2Ieg8utxmXvkopsy2wlaFpPYRL7EDbjJhWB~cunSFFiIa0RCfYvp7crzG2e4jXyvx9tsRjQ__");
        background-size: cover;
        background-position: center;

        .cover-img {
            width: 100%;
            height: 100%;
            background-color: rgba($color: #525252, $alpha: 0.4);
            text-align: center;
            @include makeNav(center, column,center);

            .cover-title {
                @include makeFont(normal, 700, 75px);
            }
    
            .cover-desc {
                @include makeFont(italic, 700, 50px);
            }
        }
    }

    .about {
        width: 82%;
        height: 605px;
        background: url("https://s3-alpha-sig.figma.com/img/4594/e2e9/2746eaef50497134df22ea41ad7c16f1?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=g~NeEVbNmAdG~l5RqskFQzO5Cw77Ez8CygsQCA1y~DyU5716EVX3n4zv2DFIKot8~xV7MmBDEokrkx64DTvcax59eqhr3egPOyq-FEMTQmlkEInozAQQx9dgdKUYHuwZ3wSPMOCftY4t4q0iQPXdqaFxHf6LasyWYl2Omsk~EoOUJLn~0i7SM9mVgQYJq~KwnbA69fDW0H0WRDhbAUTS2dQcmSYljJBa3Ut3aRXLyFtkYW-fXV5Ew0CyLPW5hr7cYB6HtoCVzLS8kMxepsGFyBBrw0cAncMg4S6clHAFp5mkDidAS0PPTmsL6Do8mqxe2WUElN-rTdS8sdHgS6kcJw__");
        background-size: cover;
        margin: 0 auto;
        background-position: center;
    }

    .enjoy {
        margin: 49px auto;
        width: 82%;
        height: 390px;
        background-color: #c1c1c3;
        @include makeNav(center, row, center);

        .enjoy-img {
            width: 47%;
            height: 349px;
        }

        .text-box{
            margin-left: 20px;
            background-color: #cbcbcb;
            width: 43%;
            height: 349px;
    
            .text{
                width: 91%;
                color: $baseColor;
                text-align: center;
                @include makeFont(normal, 400, 26px);
                @include centre();
            }
        }
    }

    .form {
        width: 27%;
        height: 481px;
        background-color: #F2EEEE;
        margin: 0 auto;
        border: 3px solid #aaaaaa;
        @include makeNav(space-between, column, center);

        .title {
            margin-top: 15px;
            text-align: center;
            @include makeFont(normal, 400, 36px);
            color: #414141;
        }

        .text {
            @include makeFont(normal, 400, 30px);
        }

        .input-box {
            width: 79%;
        }

        .input {
            margin-top: 15px;
            width: 100%;
            height: 62px;
            border: 2px solid #90A4AE;
            @include makeFont(normal, 400, 20px);
        }

        .submit {
            width: 100%;
            height: 104px;
            background-color: #444765;
            color: #fff;
            @include makeFont(normal, 400, 36px);
            border: none;
            cursor: pointer;
            transition: 0.5s;

            &:focus {
                background-color: #707497;
            }
        }
    }
}

footer {
    background-color: $baseColor;
    height: 90px;
    padding-left: 60px;
    @include makeNav(start,row,center);
    
    .cc {
        color: #fff;
        @include makeFont(italic, 400, 36px);
    }
}
