* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  cursor: pointer;
}
a:hover {
  color: rgb(234, 234, 47);
}
a:focus {
  color: rgb(182, 182, 182);
}

p {
  font-family: "PT Sans", sans-serif;
}

header {
  height: 90px;
  width: 100%;
  background-color: #202846;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .nav {
  width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav .nav-text {
  width: 16.6666666667%;
  text-align: center;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 24px;
  border-right: 2px solid white;
}
header .nav .nav-text:last-child {
  border-right: none;
}
header .nav .lang {
  width: 16.6666666667%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .nav .lang .lang-img {
  width: 60px;
}
header .nav .dropbtn {
  width: 57px;
  height: 44px;
  background-color: #202846;
  border: none;
}
header .nav .lang-content {
  display: none;
  position: absolute;
  width: 57px;
  height: 105px;
  background-color: #202846;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav .lang-content a {
  text-align: center;
  display: block;
  color: white;
  width: 57px;
  height: 35px;
  font-family: "PT Sans", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 24px;
}
header .nav .lang-content a:focus {
  background-color: #39477a;
}
header .nav .dropdown:hover .lang-content {
  display: block;
}
header .logo-image {
  width: 179px;
  height: 70px;
  border-radius: 35px;
  background: url("https://s3-alpha-sig.figma.com/img/ca5e/0ff9/3ae21a385ab1edee756a77763a1f44b2?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cFKWEnhKCh1U-j5uQkLMXxHDe6MbX9P~1HsRcMhEvOQB8s1iCPOYGaf89Bi5WKy9cgZJ~LSumPu3jwzLmltEUg3FiBxszWWO6sh1e1cuRG3xLutnYdVc6bQoTU1HbiZlVLP64BC4La7j2p-nNxnncshrcRwQf5H72YmyZdvvnEYMLoYYa1Lt5uZBmfVp2cKgtczuXaQcLWb1wfz~ohTIeJb7mEjnrrYD6z5Y2a~RKEad3UWdmIIibYBbt0yqLVaGZyLL~TtqRPGsp~DzVDDipcaVyYnD3PXlhY3m1LZf-g47VLv~1Rxw6kCuYGeUp1wyw4yxPRfyAPP8mGAhnTjmKA__");
  background-size: cover;
  background-position: center;
}

main {
  height: 800px;
  background-color: #dcdcdc;
}
main .title-cover {
  width: 100%;
  height: 140px;
  padding-left: 223px;
  background-color: #C6C6DC;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
main .title-cover .title {
  color: #202846;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
}
main .contacts {
  width: 65%;
  margin: 62px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .contacts .contact-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 50px;
}
main .contacts .contact-1:last-child {
  margin-bottom: 0;
}
main .contacts .contact {
  width: 266px;
}
main .contacts .contact.a {
  width: 390px;
}
main .contacts .contact .contact-item {
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  border-bottom: 3px solid #202846;
}
main .contacts .contact .contact-value {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}
main .contacts .map {
  width: 50%;
  height: 335px;
  border-radius: 25px;
}

footer {
  background-color: #202846;
  height: 90px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
footer .cc {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
}

/*# sourceMappingURL=contact.css.map */
