* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  cursor: pointer;
}
a:hover {
  color: rgb(234, 234, 47);
}
a:focus {
  color: rgb(182, 182, 182);
}

p {
  font-family: "PT Sans", sans-serif;
}

header {
  height: 90px;
  width: 100%;
  background-color: #202846;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .nav {
  width: 1200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav .nav-text {
  width: 16.6666666667%;
  text-align: center;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 24px;
  border-right: 2px solid white;
}
header .nav .nav-text:last-child {
  border-right: none;
}
header .nav .lang {
  width: 16.6666666667%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .nav .lang .lang-img {
  width: 60px;
}
header .nav .dropbtn {
  width: 57px;
  height: 44px;
  background-color: #202846;
  border: none;
}
header .nav .lang-content {
  display: none;
  position: absolute;
  width: 57px;
  height: 105px;
  background-color: #202846;
  min-width: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .nav .lang-content a {
  text-align: center;
  display: block;
  color: white;
  width: 57px;
  height: 35px;
  font-family: "PT Sans", sans-serif;
  font-style: none;
  font-weight: 700;
  font-size: 24px;
}
header .nav .lang-content a:focus {
  background-color: #39477a;
}
header .nav .dropdown:hover .lang-content {
  display: block;
}
header .logo-image {
  width: 179px;
  height: 70px;
  border-radius: 35px;
  background: url("https://s3-alpha-sig.figma.com/img/ca5e/0ff9/3ae21a385ab1edee756a77763a1f44b2?Expires=1714348800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cFKWEnhKCh1U-j5uQkLMXxHDe6MbX9P~1HsRcMhEvOQB8s1iCPOYGaf89Bi5WKy9cgZJ~LSumPu3jwzLmltEUg3FiBxszWWO6sh1e1cuRG3xLutnYdVc6bQoTU1HbiZlVLP64BC4La7j2p-nNxnncshrcRwQf5H72YmyZdvvnEYMLoYYa1Lt5uZBmfVp2cKgtczuXaQcLWb1wfz~ohTIeJb7mEjnrrYD6z5Y2a~RKEad3UWdmIIibYBbt0yqLVaGZyLL~TtqRPGsp~DzVDDipcaVyYnD3PXlhY3m1LZf-g47VLv~1Rxw6kCuYGeUp1wyw4yxPRfyAPP8mGAhnTjmKA__");
  background-size: cover;
  background-position: center;
}

main {
  height: 2400px;
  background-color: #dcdcdc;
}
main .title-cover {
  width: 100%;
  height: 140px;
  padding-left: 223px;
  background-color: #C6C6DC;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
main .title-cover .title {
  text-align: left;
  color: #202846;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
}
main .cover {
  margin: 130px auto 35px auto;
  width: 82%;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .cover .first-divide-a {
  width: 41%;
  height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .cover .first-divide-a .div-image-1 {
  width: 100%;
  height: 314px;
  background: url("https://s3-alpha-sig.figma.com/img/4594/e2e9/2746eaef50497134df22ea41ad7c16f1?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=g~NeEVbNmAdG~l5RqskFQzO5Cw77Ez8CygsQCA1y~DyU5716EVX3n4zv2DFIKot8~xV7MmBDEokrkx64DTvcax59eqhr3egPOyq-FEMTQmlkEInozAQQx9dgdKUYHuwZ3wSPMOCftY4t4q0iQPXdqaFxHf6LasyWYl2Omsk~EoOUJLn~0i7SM9mVgQYJq~KwnbA69fDW0H0WRDhbAUTS2dQcmSYljJBa3Ut3aRXLyFtkYW-fXV5Ew0CyLPW5hr7cYB6HtoCVzLS8kMxepsGFyBBrw0cAncMg4S6clHAFp5mkDidAS0PPTmsL6Do8mqxe2WUElN-rTdS8sdHgS6kcJw__");
  background-size: cover;
  background-position: center;
}
main .cover .first-divide-a .div-image-2 {
  width: 100%;
  height: 343px;
  background: url("https://s3-alpha-sig.figma.com/img/76e8/7ac1/ab650bb685e9da61634e9022d37ab870?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J62CeKHRnwms7Hg4p~w3BiDwjsaAVoDeWZOJe4KxZYSzXr6sbWHB3pStyGyusV4NU3nSgJHz98GzbXxf-GB4alMLyLDAlRueJE2VY8WZ6hTXGqrXvhM-fyKNjRptKCe9CFvfhIFkTuXYZ8qWp0zuUmBS4ww70sf8j3j07A0fR2TE61GDwdWM6dqjzl3GeP0EGyB1sseY67I1j4OvcXXY8~HS~IeNy0kD0yQXouNkX3Osm~rikdhWovCeFiPPnOEMe2Q4Vq96tz3ZCKiW8ipNIHUQse8bjRkk1vkmpBDPl50X4c1i-xjlwZgMpNtn7CVmCEH4SFK0kHXzUCODxCpraQ__");
  background-size: cover;
  background-position: center;
}
main .cover .first-divide-b {
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .cover .first-divide-b .text-box {
  background-color: #c7c7c7;
  width: 100%;
  height: 380px;
}
main .cover .first-divide-b .text-box .text {
  width: 91%;
  color: #000;
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}
main .cover .first-divide-b .second-divide {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .cover .first-divide-b .second-divide .div-image-1 {
  width: 51%;
  height: 100%;
  background: url("https://s3-alpha-sig.figma.com/img/33c9/d87b/944fbe35edbc40db40b5a92e01ecf18a?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=N3AViVs0qM9tllOuVV2zn8NHW8k56koNENFrZlAcVscw11FlOzMOKQSswQ26OgQ-W17ZnCX~WaGAAZA0P6WhAi6XRqF0WeyZspbvekUQu50GHoPT92Kxwb9ENKanlP57RwqfM2U6D3qLwCRTkWbFuBWQ2bgrVTAV08vq8t5ZutoJzBGS5EdQhfucovc2rN~p24Utm~-XRD4LfnjncessjfMkTn84VxP3lFenl9BFm8ZeBWchixhRqJVfCX-AksKGiLgko8O7wS9yxIeC~JjFKHeViqNYyI1rYRY3yaYiWB57MIQCsYGATwMu9cEyX~Ag2xIHXVrK5cPSNrOrfPljmg__");
  background-size: cover;
  background-position: center;
}
main .cover .first-divide-b .second-divide .div-image-2 {
  width: 48%;
  height: 100%;
  background: url("https://s3-alpha-sig.figma.com/img/5c7a/5598/552673b2187b76548190d317ce92b44e?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WPZP94RxPanLhbxpKzwPCfFqkPU89HouQankwJwNNAZ2GE7LpT~-I~bHsIGnC0xg8rc5nsABv2yLDOi1bCXr49WnIZmm-6Gk5TvbafK0QyIuIeRpZFcqYD6jCtnEbAT-AYgZN0oAIFJvm-0Bf~lKQUGs3kswRijrZmmEgQZvKSI1ySQ2Jj0E67XxfIRaAO8PtHh6n0J85TdDbD3EsJbZa32YooNXvvCVNkHdKBqh2fKCaZMA9vYmtGf8NeNTLR-K9Vww6LLn~-4qgMm~Oh~tr4Y81GtNgXAMF2Pp9wpHu5hfzdmFtU2pqLPZaSk8s06iKFlKQm6Kun0bVRF1HObHIg__");
  background-size: cover;
  background-position: center;
}
main .list-title {
  color: #202846;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
main .form {
  margin: 35px auto;
  padding-left: 45px;
  padding-top: 15px;
  width: 82%;
  height: 300px;
  background-color: #CECED8;
}
main .form .text {
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  text-align: left;
}
main .form .date-box {
  max-width: 1267px;
  width: 98%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .form .date-box .dates {
  width: 61%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .form .date-box .dates .date {
  color: #999999;
  padding: 0 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: 2px solid #90A4AE;
  width: 350px;
  height: 60px;
}
main .form .date-box .submit {
  width: 350px;
  height: 110px;
  background-color: #2B365C;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
main .form .date-box .submit:focus {
  background-color: #707497;
}
main .form .counter-box {
  max-width: 600px;
  width: 50%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .form .counter-box label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .form .counter-box .counter {
  margin-left: 10px;
  padding: 0 10px;
  width: 61px;
  height: 63px;
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  border: 2px solid #90A4AE;
}
main .price-table {
  margin: 0 auto;
  width: 82%;
  height: 280px;
}
main .price-table, main .price-table th, main .price-table td {
  border: 3px solid #8F98B9;
  border-collapse: collapse;
}
main .price-table .main-row {
  text-align: left;
  background-color: #4C536B;
  color: #fff;
  height: 75px;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
}
main .price-table .main-row .text {
  margin-left: 60px;
}
main .price-table .second-row {
  background-color: #CFCFD1;
}
main .price-table .second-row .sector-c {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}
main .price-table .second-row .submit-price {
  background-color: #687BC0;
  width: 57%;
  height: 70px;
  border: none;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  transition: 0.5s;
}
main .price-table .second-row .submit-price:focus {
  background-color: #707497;
}

footer {
  background-color: #202846;
  height: 90px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
footer .cc {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
}

/*# sourceMappingURL=house.css.map */
